[submodule "lib/SDL3"]
	path = lib/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/fluidsynth"]
	path = lib/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
[submodule "lib/SDL3_tff"]
	path = lib/SDL3_tff
	url = https://github.com/libsdl-org/SDL_ttf.git
